<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Update User</title>
</head>
<body>
<div>
    <form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
        <label for="name">Write your name: </label>
        <input type="text" th:field="*{username}" id="name"/>
        <br/>
        <label for="sur_name">Write your name: </label>
        <input type="text" th:field="*{surName}" id="sur_name"/>
        <br/>
        <label for="password">Write your password: </label>
        <input type="text" th:field="*{password}" id="password"/>
        <br/>
        <input type="submit" value="Update!"/>
    </form>

    <br>
    <br>
    <a th:href="@{/logout}" class="btn">Выйти</a>
    <br>

</div>
</body>
</html>